body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  background-color: rgb(62, 124, 177);;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  flex-wrap: wrap;
}

.about-section {
  background-color:rgb(129, 164, 205);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-section p {
  margin-left: 15px;
  margin-right: 15px;
}

.about-title{
  color: #054A91;;
}

.contact-section {
  background-color:rgb(129, 164, 205);
}

.contact-title {
  color: #054A91;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color:rgb(129, 164, 205);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  flex-wrap: wrap;
}

.contact-section div {
  margin: 5px;
}

label {
  color: #054A91;
}
 
.message-box-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} 

.contact-button {
  background-color:rgb(241, 115, 0);
  margin: 10px;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.resume-link {
  color: rgb(219, 228, 238);
  display: flex;
  align-items: center;
  justify-content: center;
}

a:link, a:visited {
  color: rgb(219, 228, 238);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(241, 115, 0);
  background-color: transparent;
  text-decoration: underline;
}

.footer-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.resume-section {
  background-color:rgb(129, 164, 205);
}

.resume-title {
  color: #054A91;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* .project-1 {
  background: 50%;
  background-image: url("../images/movie-match-screenshot.png");
  flex: 3;
} */

